 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
}
@layer utilities {
  .clip-star {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

  @keyframes bounce-in {
    0% {
      transform: scaleX(1);
      opacity: 1;
    }
    50% {
      transform: scaleX(1.05);
    }
    100% {
      transform: scaleX(1);
    }
  }

  .animate-bounce-in {
    animation: bounce-in 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
} 
 