@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
    background-color: #f5f5f5;
}

@theme {
  --color-dadafar: #E64A22;
}

@layer utilities {
  .clip-star {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

} 
 